.metro-cities-list{
    margin-top: 30px;
}
.cities-head {
    background: rgb(255, 189, 189);
    padding: 10px 20px;
    border-radius: 7px 7px 0px 0px;
    font-weight: bold;
    font-size: medium;
}
.cities-body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    border: rgb(255, 189, 189) 3px solid;
    padding: 10px;
    border-radius: 0px 0px 7px 7px;
}
.state-box {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #dadada;
    border-radius: 5px;
    padding: 7px;
}
.city-item {
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}