---
type menuItem = {
    title: string;
    href: string;
};

// Define the menu items for header
const menuItems: menuItem[] = [
    { title: 'Home', href: '' },
    { title: 'FAQs', href: '/faq' },
    { title: 'Data & Sources', href: '/sources' },
    { title: 'Methodology', href: '/methodology' },
];
---

<header class="flex flex-col p-4 items-center bg-[#c33c3c]">
    <div class="flex justify-between items-center gap-8 w-full lg:w-4/6">
        <div class="md:hidden p-2 hover:bg-[#9e1f1f] active:bg-[#9e1f1f] transition cursor-pointer">
            <svg class="w-6 h-6" viewBox="0 0 42 28" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img">
                <path d="M0 28V23.3333H42V28H0ZM0 16.3333V11.6667H42V16.3333H0ZM0 4.66667V0H42V4.66667H0Z" fill="#FEF7FF"/>
            </svg>
        </div>

        <div class="hidden md:flex items-center">
            {menuItems.map((item) => (
                <a href={import.meta.env.BASE_URL + item.href} class="px-8 py-4 text-gray-100 hover:bg-[#9e1f1f] active:bg-[#9e1f1f] transition cursor-pointer">
                    {item.title}
                </a>
            ))}
        </div>

        <button class="items-center px-6 py-2 border-2 border-gray-100 font-semibold text-gray-100 bg-[#ffffff18] hover:bg-[#ffffff37] active:bg-[#ffffff37] transition cursor-pointer">
            Explore Data
        </button>
    </div>
</header>

<!-- Swap hidden with flex for opening menu -->
<menu class="hidden md:hidden flex-col bg-[#c33c3c]">
    {menuItems.map((item) => (
        <a href={import.meta.env.BASE_URL + item.href} class="w-full p-8 text-gray-100 hover:bg-[#9e1f1f] active:bg-[#9e1f1f] transition cursor-pointer">
            {item.title}
        </a>
    ))}
</menu>