.share-component {
    text-align: center;
    color: #fff;
    background-color: #b02a37;
    margin: 10px;
    border-radius: 5px;
}
#share-head{
    padding: 10px;
    background-color: #5e060f;
    border-radius: 5px 5px 0px 0px;
}
#qrcode {
    display: inline-flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
}
.btn-copy {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #741c1c;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-copy:hover {
    background-color: #4b1111;
    transform: translateY(-2px);
}
.btn-copy:active {
    transform: translateY(0);
}
.btn-copy i {
    font-size: 16px;
}