.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #dc3545;
    padding-top: 20px;
    border-right: 1px solid #b02a37;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.toggle {
  display: none;
}
.sidebar h5 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.sidebar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}
.sidebar a:hover {
    background-color: #b02a37;
    color: #f8d7da;
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
  .sidebar {
    width: 200px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  /* Sidebar and reveal */
  .sidebar {
    z-index: 999;
    transition: left 0.3s ease-in-out;
  }
  .sidebar.hidden {
    left: -250px;
  }
  .sidebar h5 {
    display: none;
  }

  /* Sidebar background and fade */
  .sidebar-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    transition: opacity 0.3s ease-in-out;
  }
  .sidebar-bg.hidden {
    opacity: 0;
    width: 0;
  }

  /* Toggle button */
  .toggle {
    display: inline;
    position: fixed;
    margin-left: 250px;
    background-color: #b02a37;
    padding: 0 0;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
  }
  .toggle:active {
    background-color: #941a1a;
  }
  .toggle-inner {
    display: flex;
    padding: 20px 17px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}