/* Main title styling */
#intro {
    text-align: center;
}
#intro h1{
    font-weight: 1000;
}
#intro h3{
    font-weight: 900;
}
  
/* Intro text styling */
.intro-text {
    margin-top: 50px;
    margin-bottom: 70px;
}
  
/* Red highlight styling */
.red {
    color: #dc3545;
    font-weight: bold;
}
  
/* Red heading styling */
h1.red {
    text-align: center;
    margin-top: 100px;
}
  
/* Trend Sub-Heading styling */
.trends-head {
    text-align: center;
    margin-top: 100px;
    margin-bottom: -30px;
}

/* Trend paragraph styling */
.section-p {
    margin-top: 100px;
    margin-bottom: 0px;
}

/* Confirmed malicious note styling */
.redbox {
    border: #dc3545 3px solid;
    border-radius: 5px;
    padding: 20px;
}

/* Tablet  & Mobile */
@media (max-width: 1200px) {
    .trends-head {
        margin-bottom: 10px;
    }
}