---
import Layout2 from '../layouts/Layout2.astro';
---

<Layout2 ignoreItemIndex={2} title='FAQs'>
    <h1 class="text-4xl font-bold text-center">FREQUENTLY ASKED QUESTIONS</h1>

    <div class="flex flex-col gap-4 w-full text-left">
        <div>
            <h2 class="font-medium p-4 md:px-8 bg-red-300">
                1. Do false cases get resolved quickly?
            </h2>
            <div class="flex flex-col gap-2 p-4 md:p-8 bg-gray-200">
                <p>The genuinity of a case has no effect on how quickly it reaches resolution.</p>

                <div>
                    <p>Two strongest factors that quicken case conclusion:</p>
                    <ul class="list-disc list-outside ml-6">
                        <li>Clear-cut, solid evidence</li>
                        <li>Better advocates</li>
                    </ul>
                </div>

                <p>
                    False allegation ending up as quashed case is a comparatively quicker process. 
                    Hence, quashed cases are not inlcuded for estimation, as it may skew the estimate.
                </p>
            </div>
        </div>

        <div>
            <h2 class="font-medium p-4 md:px-8 bg-red-300">
                2. Are acquittals due to insufficient evidence counted as fake?
            </h2>
            <div class="flex flex-col gap-2 p-4 md:p-8 bg-gray-200">
                <p>Acquittals due to insufficient evidence (and other cases not resolved with a solid conclusion) are not taken for estimation, as their status of genuinity is unknown.</p>
            </div>
        </div>

        <div>
            <h2 class="font-medium p-4 md:px-8 bg-red-300">
                3. How much of false allegations are filed by women themselves?
            </h2>
            <div class="flex flex-col gap-2 p-4 md:p-8 bg-gray-200">
                <p>A reliable conclusion can be drawn by looking through popular news sources and Men's Rights news sources.</p>
                <p>Men's Rights news sources consist of reports where most of false allegations are by the women themselves, and not by someone on their behalf.</p>
                <p>Reports from popular news sources consist of a higher proportion of cases filed by the woman herself, in comparison with Men's Rights sources.</p>
            </div>
        </div>

        <div>
            <h2 class="font-medium p-4 md:px-8 bg-red-300">
                4. TheNewsMinute article on false cases by Geetika Mantri
            </h2>
            <div class="flex flex-col gap-2 p-4 md:p-8 bg-gray-200">
                <p>This article, which claims that false cases are rare, presents 2020 NCRB data that is confined to a few categories under police disposal.</p>
                <p>It includes cases from previous years under investigation into the whole set of data, but includes only cases closed as FRF in 2020 as false.</p>
                <p>It lacks proper research on terminology and assumes that false cases only fall under FRF.</p>
                <p>It goes on to make a biased statistical interpretation that every other case, including cases concluded with insufficient evidence, involves true incidents, when they are actually unknown sets of data where it's unclear whether the reported event happened or not.</p>
                <p>
                    Withdrawn cases are mistakenly assumed to come under FRF, when they are actually categorized in a dedicated column in court disposal data in NCRB reports. 
                    Final reports are not filed for withdrawn complaints.
                </p>
                <p>
                    Under the subheading <i>"Misuse" and how it really happens</i>, it starts off with <i>"we don't know why the final report concluded it was a false allegation"</i>. 
                    Any police officer can clarify why. 
                    The CrPC (Criminal Procedure Code) does not allow such final reports without proper investigation, and requires approval from the court.
                </p>
                <p>The article in question has interpreted the data through a strong lens of confirmation bias.</p>

                <div class="mt-2">
                    <a
                        href="https://www.thenewsminute.com/news/what-data-false-rape-cases-doesn-t-tell-us-163631"
                        target="_blank"
                        rel="nofollow noopener noreferrer"
                        class="text-red-600 underline"
                    >
                        TheNewsMinute Article Link
                    </a>
                    <p><i>
                        (See Source #2 in 'Data & Sources' page, an article authored by the IGP of West Bengal, for details on final report categories)
                    </i></p>
                </div>
            </div>
        </div>
    </div>
</Layout2>