---
import Layout2 from '../layouts/Layout2.astro';
---

<Layout2 ignoreItemIndex={0} title='Data & Sources'>
	<h1 class="sr-only">DATA & SOURCES</h1>
    
    <section class="flex flex-col items-center gap-8">
        <h2 class="text-3xl font-bold text-center">NCRB DATA</h2>

        <!-- NCRB Data Table (Svelte) -->
    </section>

	<section class="flex flex-col items-center gap-8">
        <h2 class="text-3xl font-bold text-center">SOURCES</h2>

        <!-- Static Sources List -->
    </section>
</Layout2>