---
import Layout from '../layouts/Layout.astro';
import NavButtons from '../components/NavButtons.astro';

interface Props {
    ignoreItemIndex: number;
    title: string;
    description?: string;
}

const { ignoreItemIndex, title, description } = Astro.props;
---

<Layout title={title} description={description}>
    <div class="flex flex-col mt-24 px-8 items-center">
        <div class="flex flex-col gap-16 items-center w-full lg:w-4/6">
            <slot />
        </div>
    </div>

    <div class="flex flex-col mb-8 py-16 items-center">
        <NavButtons ignoreItemIndex={ignoreItemIndex} />
    </div>
</Layout>