.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.table-container {
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto; /* Enables horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Ensures smooth scrolling on mobile */
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}
.table-container table {
    border-collapse: separate;
    margin: 0 auto;
}
.table-container table th,
.table-container table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.table-container table th {
    background-color: #f8d7da; /* Light red header for tables */
    padding: 10px;
    text-align: center;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words break onto the next line */
}
.table-container table th:nth-child(3),
.table-container table th:nth-child(4),
.table-container table th:nth-child(5) {
    max-width: 150px; /* Limit the width to enforce wrapping */
}

.table-container h3 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.table-wrapper {
    overflow-x: auto; /* Enables horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Ensures smooth scrolling on mobile */
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.btn-danger {
    padding: 7px 20px;
}