/* Trend Sub-Heading styling */
.trends-head {
    text-align: center;
    margin-top: 100px;
    margin-bottom: -30px;
}

/* Trend paragraph styling */
.section-p {
    margin-top: 100px;
    margin-bottom: 0px;
}

/* Confirmed malicious note styling */
.redbox {
    border: #dc3545 3px solid;
    border-radius: 5px;
    padding: 20px;
    margin-top: 30px;
}

/* Tablet  & Mobile */
@media (max-width: 1200px) {
    .trends-head {
        margin-bottom: 10px;
    }
}