/* Modal styling */
.ncrb-popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.ncrb-popup {
    max-width: 80%;
    max-height: 80%;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Ensures smooth scrolling on mobile */
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

/* Buttons styling */
.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.btn-danger {
    padding: 7px 20px;
}
.open-popup-icon {
    margin-right: 10px;
    padding-bottom: 4px;
}

/* Table */
table {
    margin: 0 auto;
    margin: 20px;
}
thead {
    border-bottom: 2px solid #000;
}
tr {
    height: 40px;
    border-bottom: 1px solid #8a8a8a;
}
th, td {
    padding: 10px;
    text-align: center;
}

/* Pages divs */
.pages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.pdf-page {
    background-color: #d1d1d1;
    border-radius: 5px;
    margin: 7px;
    padding: 3px 5px;
}

/* PDF links */
.pdf-link {
    text-decoration: none;
}
.open-pdf-icon {
    margin-left: 3px;
}